# Environment
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/newnation_pod"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_xxx"
STRIPE_SECRET_KEY="sk_test_xxx"
STRIPE_WEBHOOK_SECRET="whsec_xxx"
PRINTFUL_API_KEY=""
PRINTFUL_WEBHOOK_SECRET=""
NEXT_PUBLIC_GA_ID=""
NEXT_PUBLIC_META_PIXEL_ID=""
NEXTAUTH_SECRET="super_secret_change_me"
NEXTAUTH_URL="http://localhost:3000"
RESEND_API_KEY=""
MAILCHIMP_API_KEY=""
MAILCHIMP_LIST_ID=""